@use "colors" as *;
@use "mixins" as mix;
@use "reset";
@use "globals";
@use "layout";

// Layout
header,
footer {
  @include mix.flexCenter;
  padding: 2rem 0;
  background-color: white;

  h1 {
    color: black;
  }
}

main {
  padding: 2rem 0;

  section {
    margin-bottom: 2rem;

    h2 {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}

footer {
  background-color: green;
  text-align: center;

  p {
    font-size: 0.9rem;
  }
}

// Responsive
@include mix.responsive(tablet) {
  body {
    font-size: 0.95rem;
  }
}

@include mix.responsive(mobile) {
  body {
    font-size: 0.9rem;
  }

  header,
  footer {
    padding: 1rem 0;
  }
}
